@import "@styles/variables.scss";

.navlink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: color 200ms ease-in-out;
  color: $color-text-muted-dark;
  /* pointer-events: all; */
}

.navlink .name {
  position: relative;
  font-weight: 600;
}

.navlink:hover,
.navlink .name.active {
  color: $color-text-dark;
}

.navlink .name::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 15px;
  transition: background-color 200ms ease-in-out;
}

.navlink .name.active::after {
  background-color: $color-text-dark;
}
