$color-text-dark: hsl(0, 0%, 100%);
$color-text-muted-dark: hsl(0, 0%, 65%);
$color-bg-dark: hsl(0, 0%, 0%);

$header-height: 60px;
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
