.link {
  display: inline-flex;
  align-items: center;
  padding: calc(0.25rem + 1px);
  border-radius: 0.3rem;
  background-color: white;
  color: black;
  font-weight: 700;
}

.icon {
  margin-right: 0.5rem;
}

.arrowIcon {
  margin-left: 0.1rem;
}
