@import "@styles/mixins.scss";

$nav-links-gap: 3.5rem;
$icon-size-lg: 22px;
$icon-size-md: 18px;
$icon-size-sm: 14px;

.header {
  position: fixed;
  height: var(--header-height);
  width: 100%;
  z-index: 100;
  left: 0;
  right: 0;
  transition: background-color 300ms ease-in-out,
    backdrop-filter 300ms ease-in-out;
}

.header.active {
  background-color: rgba($color-bg-dark, 0.6);
  backdrop-filter: blur(7px);
}

.menu-icon {
  position: absolute;
  right: 0;
  margin: 1rem;
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
  pointer-events: all;
}

.menu-icon.open {
  opacity: 1;
}

.nav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;

  .home-container {
    transition: opacity 200ms ease-in-out;
    opacity: 0;
    pointer-events: none;

    &.active {
      opacity: initial;
      pointer-events: all;
    }
  }

  .links-container {
    display: flex;
    align-items: center;
    gap: $nav-links-gap;
  }
}

@include screen-max-width(lg) {
  .header {
    height: 100vh;
    background-color: transparent;
    backdrop-filter: none;
    transition-property: background-color, backdrop-filter, height;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    pointer-events: none;

    &.active {
      background-color: transparent;
      backdrop-filter: none;
    }

    &.open {
      background-color: rgba($color-bg-dark, 0.8);
      backdrop-filter: blur(10px);
    }
  }

  .nav {
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    opacity: 0;

    svg {
      width: $icon-size-lg;
      height: $icon-size-lg;
    }

    .home-container {
      opacity: 1;
      pointer-events: all;
      margin-bottom: $nav-links-gap;
      margin-right: calc($icon-size-lg + 2px);
    }

    .links-container {
      flex-direction: column;
    }

    &.open {
      transition: opacity 200ms ease-in-out;
      pointer-events: all;
      opacity: 1;
    }
  }
}

@include screen-min-width(lg) {
  .menu-icon {
    display: none;
  }
}

@include screen-max-height(md) {
  .nav {
    font-size: 1.5rem;

    svg {
      width: $icon-size-md;
      height: $icon-size-md;
    }

    .home-container {
      margin-right: calc($icon-size-md + 2px);
    }

    .links-container {
      gap: 1.5rem;
    }
  }
}

@include screen-max-height(sm) {
  .nav {
    font-size: 1.25rem;

    svg {
      width: $icon-size-sm;
      height: $icon-size-sm;
    }

    .home-container {
      margin-right: calc($icon-size-sm + 2px);
    }

    .links-container {
      gap: 1.25rem;
    }
  }
}
