@import "@styles/mixins.scss";

.content {
  gap: 3rem;
}

.image-container {
  position: relative;
  flex: 0 0 50%;
  order: 1;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;

  img {
    object-fit: contain;
    border-radius: 0.5rem;
  }
}

@include screen-max-width(xl) {
  .image-container {
    flex-basis: 100%;
    order: 2 !important;
  }
}
