$bar-height: 30px;

.block-container {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;

  .bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 1rem;
    width: 100%;
    height: $bar-height;
    background-color: hsl(221, 15%, 35%);

    .filename-container {
      display: flex;
      align-items: center;

      .icon {
        margin-right: 0.5rem;
      }
    }
  }

  pre {
    border-radius: 0 !important;
    border-bottom-left-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
    margin: 0 !important;
  }

  &.focused {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1500;
    border-radius: 0;
    margin-bottom: 0;

    pre {
      max-height: none;
      height: 100%;
      padding-bottom: $bar-height !important;
      overflow: scroll !important;
    }
  }

  &.compact:not(.focused) {
    pre {
      overflow: hidden !important;
      max-height: 20vh;
    }
  }
}
