@import 'tailwindcss';
@import '@fontsource-variable/inter';
@import '@fontsource-variable/jetbrains-mono';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Inter Variable', ui-sans-serif, system-ui, -apple-system, sans-serif;
  --font-mono: 'JetBrains Mono Variable', monospace;

  --color-primary: #000000;
  --color-accent: #00a2dd;
  --color-muted: #8e8e8e;
  --color-background: #f6f6f6;
  --color-border: #dfdfdf;
  --color-card: #ffffff;
}

@layer theme {
  .dark {
    --color-primary: #ffffff;
    --color-accent: #00a2dd;
    --color-muted: #909090;
    --color-background: #000000;
    --color-border: #333333;
    --color-card: #111111;
  }
}

@layer base {
  body {
    @apply bg-background;
    /* counter-reset: h2; */
  }

  /* h2 { */
  /*   counter-increment: h2; */
  /* } */
  /* h2::before { */
  /*   content: counter(h2) '.'; */
  /*   @apply me-2 font-medium text-muted; */
  /* } */
}

.bg-dotted {
  background-image:
    linear-gradient(to bottom, var(--color-background) 0%, transparent 100%),
    radial-gradient(color-mix(in srgb, var(--color-muted) 20%, transparent) 1px, transparent 0);
  background-size:
    100% 100%,
    5px 5px;
  background-position:
    0 0,
    -1px -1px;
}
