@import "@styles/mixins.scss";

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 0;
  margin-bottom: 0.75rem;
  font-family: var(--ff-serif);
  font-size: 7rem;
  line-height: 6rem;
}

.subtitle {
  margin: 0;
  text-transform: uppercase;
  opacity: 0.75;
  font-size: 3rem;
  font-weight: 300;
}

@include screen-max-width(md) {
  .container {
    align-items: center;
    text-align: center;
  }
  .title {
    font-size: 6rem;
    line-height: 5rem;
  }
  .subtitle {
    font-size: 2rem;
  }
}

@include screen-max-width(sm) {
  .title {
    font-size: 5rem;
    line-height: 4.5rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
}

@include screen-max-height(sm) {
  .title {
    font-size: 5rem;
    line-height: 4.5rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
}
